<div class="card-deck">
  <div class="card">
    <img src="../../assets/img/recipeHome1.jpg" class="card-img-top" alt="New Recipe">
    <div class="card-body">
      <h1 class="card-title">New recipe</h1>
      <p class="card-text">Create your own recipe and share it with the community.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-success btn-lg btn-block btntextColor" (click)="GoNewRecipe()">Create new recipe</a>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/img/recipeHome2.jpg" class="card-img-top" alt="Recipes list">
    <div class="card-body">
      <h1 class="card-title">Recipes List</h1>
      <p class="card-text">Lack of inspiration? Discover many recipes posted by members of the community.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-success btn-lg btn-block btntextColor" (click)="GoListRecipes()">Discover recipes</a>
    </div>
  </div>
</div>
